.success-modal {
  width: 350px;
  display: grid;
  justify-items: center;
  gap: 2rem;
  
  & strong {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  & p {
    color: hsl(279, 6%, 55%);
    font-size: 18px;
    font-weight: 600;
  }
}